openapi: 3.0.3
info:
  title: Clarive API
  description: |
    REST API for the Clarive prompt management platform.

    This specification defines two API surfaces:

    - **Internal API** (`/api/...`) — Used by the Clarive frontend. Authenticated via JWT bearer tokens.
    - **Public API** (`/public/v1/...`) — Used by external consumers to retrieve and render prompt entries. Authenticated via API keys.

    ## Authentication

    ### Internal API (JWT)
    All `/api/` endpoints require a valid JWT token in the `Authorization` header:
    ```
    Authorization: Bearer <token>
    ```
    Tokens are obtained via the `/api/auth/login` or `/api/auth/register` endpoints.

    ### Public API (API Key)
    All `/public/v1/` endpoints require an API key in the `X-Api-Key` header:
    ```
    X-Api-Key: <key>
    ```
    API keys are generated by the account admin via the internal API.

    ## Multi-Tenancy
    All data is scoped to the authenticated user's tenant (organization). Users only see data belonging to their own tenant.

    ## Versioning Behavior
    - Saving an entry always overwrites the current **draft**.
    - Publishing promotes the draft to **published** (incrementing the version number); the prior published version becomes **historical**.
    - Promoting a historical version creates a new published version (new version number); the prior published version becomes historical.

  version: 1.0.0
  contact:
    name: Clarive
  license:
    name: Proprietary

servers:
  - url: https://api.clarive.app
    description: Production
  - url: http://localhost:5000
    description: Local development

tags:
  - name: Auth
    description: Authentication and user profile
  - name: Folders
    description: Folder management (hierarchical organization)
  - name: Entries
    description: Prompt entry CRUD, versioning, and trash
  - name: Tools
    description: Tool description management and MCP import
  - name: API Keys
    description: API key management (admin only)
  - name: Users
    description: User and role management (admin only)
  - name: Audit Log
    description: Audit trail (read-only)
  - name: Import/Export
    description: YAML-based import and export
  - name: AI Generation
    description: AI-assisted prompt generation, enhancement, and decomposition
  - name: Public API
    description: External-facing endpoints for retrieving and rendering prompts (API key auth)

# ──────────────────────────────────────────────
# Security Schemes
# ──────────────────────────────────────────────
security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token obtained from /api/auth/login or /api/auth/register
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key generated by the account admin

  # ──────────────────────────────────────────────
  # Reusable Schemas
  # ──────────────────────────────────────────────
  schemas:

    # ── Enums ──────────────────────────────────

    VersionState:
      type: string
      enum: [draft, published, historical]

    UserRole:
      type: string
      enum: [admin, editor, viewer]

    TemplateFieldType:
      type: string
      enum: [string, int, float, enum]

    AuditAction:
      type: string
      enum:
        - entry_created
        - entry_published
        - entry_trashed
        - entry_restored
        - entry_deleted
        - version_promoted
        - api_get
        - api_generate

    # ── Core Models ────────────────────────────

    TemplateField:
      type: object
      required: [name, type]
      properties:
        name:
          type: string
          description: Field name as declared in the template tag.
          example: price
        type:
          $ref: '#/components/schemas/TemplateFieldType'
        enumValues:
          type: array
          items:
            type: string
          nullable: true
          description: Available options (only for enum type).
          example: [Electronics, Books, Food]
        defaultValue:
          type: string
          nullable: true
          description: Default value that pre-fills the form field.
          example: "9.99"
        min:
          type: number
          nullable: true
          description: Minimum value constraint (only for int/float).
          example: 0
        max:
          type: number
          nullable: true
          description: Maximum value constraint (only for int/float).
          example: 10000

    Prompt:
      type: object
      required: [id, content, order, isTemplate]
      properties:
        id:
          type: string
          format: uuid
        content:
          type: string
          description: The prompt text. May contain {{...}} template tags if isTemplate is true.
          example: "Write a {{tone|enum:formal,casual,technical}} blog post about {{topic|string}} targeting {{wordCount|int}} words."
        order:
          type: integer
          description: Position in the prompt chain (0-based).
          example: 0
        isTemplate:
          type: boolean
          description: Whether this prompt contains template tags. Only the first prompt (order 0) can be a template.
          example: true
        templateFields:
          type: array
          items:
            $ref: '#/components/schemas/TemplateField'
          description: Parsed template fields. Only present when isTemplate is true. Server-side parsed from the content.

    PromptEntry:
      type: object
      required: [id, title, prompts, version, versionState, isTrashed, createdAt, updatedAt, createdBy]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          example: Blog Post Generator
        systemMessage:
          type: string
          nullable: true
          description: Optional system-level instruction.
          example: "You are an expert content writer specializing in technology topics."
        prompts:
          type: array
          items:
            $ref: '#/components/schemas/Prompt'
          minItems: 1
        folderId:
          type: string
          format: uuid
          nullable: true
          description: Parent folder ID. Null means the entry is at root level.
        version:
          type: integer
          description: Current version number.
          example: 3
        versionState:
          $ref: '#/components/schemas/VersionState'
        isTrashed:
          type: boolean
          example: false
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        createdBy:
          type: string
          format: uuid
          description: User ID of the creator.

    PromptEntrySummary:
      type: object
      description: Lightweight entry representation for list views (no full prompt content).
      required: [id, title, version, versionState, isTrashed, hasSystemMessage, isTemplate, isChain, createdAt, updatedAt]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        version:
          type: integer
        versionState:
          $ref: '#/components/schemas/VersionState'
        isTrashed:
          type: boolean
        folderId:
          type: string
          format: uuid
          nullable: true
        hasSystemMessage:
          type: boolean
        isTemplate:
          type: boolean
          description: Whether the first prompt is a template.
        isChain:
          type: boolean
          description: Whether the entry has more than one prompt.
        promptCount:
          type: integer
          example: 3
        firstPromptPreview:
          type: string
          description: Truncated preview of the first prompt (max 200 chars).
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    VersionInfo:
      type: object
      required: [version, versionState]
      properties:
        version:
          type: integer
          example: 2
        versionState:
          $ref: '#/components/schemas/VersionState'
        publishedAt:
          type: string
          format: date-time
          nullable: true
        publishedBy:
          type: string
          nullable: true
          description: Display name of the user who published this version.

    Folder:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: Marketing Prompts
        parentId:
          type: string
          format: uuid
          nullable: true
          description: Parent folder ID. Null means root-level folder.
        children:
          type: array
          items:
            $ref: '#/components/schemas/Folder'
          description: Nested child folders (only populated in tree responses).

    User:
      type: object
      required: [id, email, name, role]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
          example: alice@example.com
        name:
          type: string
          example: Alice Johnson
        role:
          $ref: '#/components/schemas/UserRole'
        createdAt:
          type: string
          format: date-time

    ToolDescription:
      type: object
      required: [id, name, toolName, description]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Human-readable label.
          example: Web Search
        toolName:
          type: string
          description: Technical tool identifier (alphanumeric + underscores).
          pattern: '^[a-zA-Z_][a-zA-Z0-9_]*$'
          example: web_search
        description:
          type: string
          description: Explanation of the tool's purpose and usage.
          example: "Searches the internet for current information. Use when the prompt requires up-to-date facts or data."

    ApiKey:
      type: object
      required: [id, name, createdAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: Human-readable label for the key.
          example: Production Integration
        keyPrefix:
          type: string
          description: First 8 characters of the key (for identification in the UI).
          example: "pf_k8x2m"
        createdAt:
          type: string
          format: date-time

    ApiKeyCreated:
      type: object
      description: Returned only once on creation. The full key is never shown again.
      required: [id, name, key, createdAt]
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        key:
          type: string
          description: The full API key. Store securely — it will not be shown again.
          example: "pf_k8x2mQ7rT4nP9wL2vB6jH3sF8dY1"
        createdAt:
          type: string
          format: date-time

    AuditLogEntry:
      type: object
      required: [id, action, entityType, entityId, userId, userName, timestamp]
      properties:
        id:
          type: string
          format: uuid
        action:
          $ref: '#/components/schemas/AuditAction'
        entityType:
          type: string
          description: Type of entity the action was performed on.
          example: prompt_entry
        entityId:
          type: string
          format: uuid
        entityTitle:
          type: string
          description: Human-readable title of the entity at the time of the action.
          example: Blog Post Generator
        userId:
          type: string
          format: uuid
        userName:
          type: string
          example: Alice Johnson
        timestamp:
          type: string
          format: date-time
        details:
          type: string
          nullable: true
          description: Additional detail (e.g., "Published version 3", "API key: Production").

    # ── Request Bodies ─────────────────────────

    LoginRequest:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8

    RegisterRequest:
      type: object
      required: [email, password, name]
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
        name:
          type: string
          minLength: 1
          maxLength: 100

    AuthResponse:
      type: object
      required: [token, user]
      properties:
        token:
          type: string
          description: JWT bearer token.
        user:
          $ref: '#/components/schemas/User'

    UpdateProfileRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 100
        email:
          type: string
          format: email
        currentPassword:
          type: string
          description: Required when changing email or password.
        newPassword:
          type: string
          format: password
          minLength: 8

    CreateFolderRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: Marketing Prompts
        parentId:
          type: string
          format: uuid
          nullable: true
          description: Parent folder ID. Null or omitted for root-level.

    RenameFolderRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255

    MoveFolderRequest:
      type: object
      required: [parentId]
      properties:
        parentId:
          type: string
          format: uuid
          nullable: true
          description: New parent folder ID. Null to move to root.

    CreateEntryRequest:
      type: object
      required: [title, prompts]
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 500
        systemMessage:
          type: string
          nullable: true
        prompts:
          type: array
          items:
            type: object
            required: [content]
            properties:
              content:
                type: string
                minLength: 1
              isTemplate:
                type: boolean
                default: false
          minItems: 1
        folderId:
          type: string
          format: uuid
          nullable: true

    UpdateEntryRequest:
      type: object
      description: Overwrites the current draft. All fields are optional — only provided fields are updated.
      properties:
        title:
          type: string
          minLength: 1
          maxLength: 500
        systemMessage:
          type: string
          nullable: true
        prompts:
          type: array
          items:
            type: object
            required: [content]
            properties:
              content:
                type: string
                minLength: 1
              isTemplate:
                type: boolean
                default: false
          minItems: 1
        folderId:
          type: string
          format: uuid
          nullable: true

    MoveEntryRequest:
      type: object
      required: [folderId]
      properties:
        folderId:
          type: string
          format: uuid
          nullable: true
          description: Target folder ID. Null to move to root.

    CreateToolRequest:
      type: object
      required: [name, toolName, description]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        toolName:
          type: string
          pattern: '^[a-zA-Z_][a-zA-Z0-9_]*$'
          minLength: 1
          maxLength: 100
        description:
          type: string
          minLength: 1

    UpdateToolRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        toolName:
          type: string
          pattern: '^[a-zA-Z_][a-zA-Z0-9_]*$'
        description:
          type: string

    McpImportRequest:
      type: object
      required: [serverUrl]
      properties:
        serverUrl:
          type: string
          format: uri
          description: URL of the MCP server to import tool descriptions from.
          example: "https://mcp.example.com/sse"
        bearerToken:
          type: string
          nullable: true
          description: Optional bearer token for authenticated MCP servers.

    CreateApiKeyRequest:
      type: object
      required: [name]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
          example: Production Integration

    InviteUserRequest:
      type: object
      required: [email, name, role, password]
      properties:
        email:
          type: string
          format: email
        name:
          type: string
          minLength: 1
        role:
          type: string
          enum: [editor, viewer]
          description: Role to assign. Admin role cannot be assigned via invitation.
        password:
          type: string
          minLength: 12
          description: Initial password for the invited user.

    UpdateUserRoleRequest:
      type: object
      required: [role]
      properties:
        role:
          $ref: '#/components/schemas/UserRole'

    TransferOwnershipRequest:
      type: object
      required: [targetUserId, confirmation]
      properties:
        targetUserId:
          type: string
          format: uuid
          description: User ID of the new admin/owner.
        confirmation:
          type: string
          description: Must be the string "TRANSFER" to confirm.
          example: TRANSFER

    GeneratePromptRequest:
      type: object
      required: [description]
      properties:
        description:
          type: string
          maxLength: 2000
          description: Natural-language description of the desired prompt (max 2000 characters).
          example: "Create a prompt that helps analyze customer feedback and categorize it by sentiment and topic."
        generateSystemMessage:
          type: boolean
          default: false
        generateTemplate:
          type: boolean
          default: false
        generateChain:
          type: boolean
          default: false
        toolIds:
          type: array
          items:
            type: string
            format: uuid
          description: IDs of tool descriptions the generated prompt should reference.

    RefinePromptRequest:
      type: object
      required: [sessionId]
      properties:
        sessionId:
          type: string
          format: uuid
          description: Session ID returned by the initial generate call.
        answers:
          type: array
          items:
            type: object
            properties:
              questionIndex:
                type: integer
              answer:
                type: string
                maxLength: 1000
          description: Answers to the clarification questions (optional). Each answer max 1000 characters.
        selectedEnhancements:
          type: array
          items:
            type: integer
          description: Indices of selected enhancements (optional).

    GeneratePromptResponse:
      type: object
      required: [sessionId, draft, questions, enhancements]
      properties:
        sessionId:
          type: string
          format: uuid
          description: Session ID for subsequent refine calls.
        draft:
          $ref: '#/components/schemas/CreateEntryRequest'
        questions:
          type: array
          items:
            type: string
          minItems: 3
          maxItems: 3
          description: Three clarification questions.
        enhancements:
          type: array
          items:
            type: string
          minItems: 3
          maxItems: 3
          description: Three suggested enhancements.

    GenerateSystemMessageRequest:
      type: object
      required: [entryId]
      properties:
        entryId:
          type: string
          format: uuid

    GenerateSystemMessageResponse:
      type: object
      required: [systemMessage]
      properties:
        systemMessage:
          type: string

    DecomposeRequest:
      type: object
      required: [entryId]
      properties:
        entryId:
          type: string
          format: uuid

    DecomposeResponse:
      type: object
      required: [prompts]
      properties:
        prompts:
          type: array
          items:
            type: object
            required: [content]
            properties:
              content:
                type: string
              isTemplate:
                type: boolean
          description: The decomposed prompt chain (3-5 prompts).

    ExportRequest:
      type: object
      properties:
        folderIds:
          type: array
          items:
            type: string
            format: uuid
          description: Folder IDs to export (with full subtree). Omit to export all.
        entryIds:
          type: array
          items:
            type: string
            format: uuid
          description: Specific entry IDs to export. Omit to export all (or all in specified folders).

    ImportResponse:
      type: object
      required: [importedCount, entries]
      properties:
        importedCount:
          type: integer
          example: 5
        entries:
          type: array
          items:
            $ref: '#/components/schemas/PromptEntrySummary'
          description: The imported entries (all as drafts).

    # ── Public API Schemas ─────────────────────

    PublicPromptEntry:
      type: object
      description: Published prompt entry as returned by the public API.
      required: [id, title, version, prompts]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        systemMessage:
          type: string
          nullable: true
        version:
          type: integer
        prompts:
          type: array
          items:
            type: object
            required: [content, order, isTemplate]
            properties:
              content:
                type: string
              order:
                type: integer
              isTemplate:
                type: boolean
              templateFields:
                type: array
                items:
                  $ref: '#/components/schemas/TemplateField'

    PublicGenerateRequest:
      type: object
      required: [fields]
      properties:
        fields:
          type: object
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: integer
          description: Key-value pairs where the key is the template field name and the value is the data to substitute.
          example:
            tone: formal
            topic: artificial intelligence trends
            wordCount: 1500

    PublicGenerateResponse:
      type: object
      required: [id, title, version, renderedPrompts]
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
        version:
          type: integer
        systemMessage:
          type: string
          nullable: true
        renderedPrompts:
          type: array
          items:
            type: object
            required: [content, order]
            properties:
              content:
                type: string
                description: Fully rendered prompt with all template tags substituted.
              order:
                type: integer

    # ── Shared Error ───────────────────────────

    ErrorResponse:
      type: object
      required: [error]
      properties:
        error:
          type: object
          required: [code, message]
          properties:
            code:
              type: string
              example: NOT_FOUND
            message:
              type: string
              example: Prompt entry not found.
            details:
              type: object
              additionalProperties: true
              description: Additional error context (e.g., validation errors).

    # ── Pagination Wrapper ─────────────────────

    PaginatedAuditLog:
      type: object
      required: [entries, total, page, pageSize]
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/AuditLogEntry'
        total:
          type: integer
          example: 87
        page:
          type: integer
          example: 1
        pageSize:
          type: integer
          example: 20

  # ──────────────────────────────────────────────
  # Reusable Responses
  # ──────────────────────────────────────────────
  responses:
    Unauthorized:
      description: Authentication required or token/key invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: UNAUTHORIZED
              message: Invalid or expired authentication token.
    Forbidden:
      description: Insufficient permissions for this action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: FORBIDDEN
              message: This action requires admin privileges.
    NotFound:
      description: Requested resource not found.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    ValidationError:
      description: Request validation failed.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            error:
              code: VALIDATION_ERROR
              message: One or more fields are invalid.
              details:
                title: Title is required.

# ══════════════════════════════════════════════
# Paths
# ══════════════════════════════════════════════
paths:

  # ── Auth ─────────────────────────────────────

  /api/auth/login:
    post:
      tags: [Auth]
      summary: Log in with email and password
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Login successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: INVALID_CREDENTIALS
                  message: Email or password is incorrect.

  /api/auth/register:
    post:
      tags: [Auth]
      summary: Register a new account (creates a new tenant)
      description: Creates a new tenant and the first user with admin role.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterRequest'
      responses:
        '201':
          description: Account created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '409':
          description: Email already in use.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: EMAIL_EXISTS
                  message: An account with this email already exists.
        '422':
          $ref: '#/components/responses/ValidationError'

  /api/auth/me:
    get:
      tags: [Auth]
      summary: Get current authenticated user
      responses:
        '200':
          description: Current user profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/auth/profile:
    patch:
      tags: [Auth]
      summary: Update own profile (name, email, password)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateProfileRequest'
      responses:
        '200':
          description: Profile updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'

  # ── Folders ──────────────────────────────────

  /api/folders:
    get:
      tags: [Folders]
      summary: Get full folder tree
      description: Returns all folders as a nested tree structure.
      responses:
        '200':
          description: Folder tree.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Folders]
      summary: Create a folder
      description: |
        Creates a new folder. Requires editor or admin role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFolderRequest'
      responses:
        '201':
          description: Folder created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /api/folders/{folderId}:
    parameters:
      - name: folderId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    patch:
      tags: [Folders]
      summary: Rename a folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenameFolderRequest'
      responses:
        '200':
          description: Folder renamed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Folders]
      summary: Delete an empty folder
      description: |
        Permanently deletes a folder. The folder must be empty (no entries, no subfolders).
        Returns 409 if the folder is not empty.
      responses:
        '204':
          description: Folder deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Folder is not empty.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: FOLDER_NOT_EMPTY
                  message: Cannot delete a folder that contains entries or subfolders. Move or remove all contents first.

  /api/folders/{folderId}/move:
    parameters:
      - name: folderId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags: [Folders]
      summary: Move a folder to a new parent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveFolderRequest'
      responses:
        '200':
          description: Folder moved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Circular reference (cannot move a folder into its own subtree).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ── Entries ──────────────────────────────────

  /api/entries:
    get:
      tags: [Entries]
      summary: List prompt entries
      description: |
        Returns prompt entry summaries (not full content). Excludes trashed entries.
        Filter by folder using the `folderId` query parameter.
        Omit `folderId` to get root-level entries. Use `folderId=all` to get all entries across all folders.
      parameters:
        - name: folderId
          in: query
          required: false
          schema:
            type: string
          description: |
            Folder ID to filter by. Omit for root-level entries.
            Use the literal string `all` to return entries from all folders.
      responses:
        '200':
          description: List of entry summaries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromptEntrySummary'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Entries]
      summary: Create a new prompt entry
      description: |
        Creates a new entry as a draft (version 1, state: draft).
        Requires editor or admin role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateEntryRequest'
      responses:
        '201':
          description: Entry created as draft.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /api/entries/{entryId}:
    parameters:
      - name: entryId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags: [Entries]
      summary: Get a prompt entry
      description: Returns the current working version (draft if exists, otherwise published).
      responses:
        '200':
          description: Full prompt entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Entries]
      summary: Update the draft version of an entry
      description: |
        Overwrites the current draft. If no draft exists, creates one based on the published version.
        Requires editor or admin role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateEntryRequest'
      responses:
        '200':
          description: Draft updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/ValidationError'

  /api/entries/{entryId}/publish:
    parameters:
      - name: entryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags: [Entries]
      summary: Publish the current draft
      description: |
        Promotes the draft to published. The previous published version (if any) becomes historical.
        Version number is incremented. Requires editor or admin role.
      responses:
        '200':
          description: Entry published.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: No draft version exists to publish.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/entries/{entryId}/versions:
    parameters:
      - name: entryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [Entries]
      summary: Get version history for an entry
      responses:
        '200':
          description: List of all versions.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VersionInfo'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/entries/{entryId}/versions/{version}:
    parameters:
      - name: entryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: version
        in: path
        required: true
        schema:
          type: integer
    get:
      tags: [Entries]
      summary: Get a specific historical version of an entry
      description: Returns the full entry content for a specific version number (read-only).
      responses:
        '200':
          description: Historical version content.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/entries/{entryId}/versions/{version}/promote:
    parameters:
      - name: entryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: version
        in: path
        required: true
        schema:
          type: integer
    post:
      tags: [Entries]
      summary: Promote a historical version to published
      description: |
        Creates a new published version based on the content of the specified historical version.
        The version number is incremented (does not reuse the historical version number).
        The previous published version becomes historical.
        Requires editor or admin role.
      responses:
        '200':
          description: Version promoted to published.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Specified version is not historical.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/entries/{entryId}/move:
    parameters:
      - name: entryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags: [Entries]
      summary: Move an entry to a different folder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveEntryRequest'
      responses:
        '200':
          description: Entry moved.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/entries/{entryId}/trash:
    parameters:
      - name: entryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags: [Entries]
      summary: Move an entry to trash
      description: Soft-deletes the entry. Requires editor or admin role.
      responses:
        '204':
          description: Entry moved to trash.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/entries/{entryId}/restore:
    parameters:
      - name: entryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags: [Entries]
      summary: Restore an entry from trash
      description: Restores the entry to its original folder (or root if the folder no longer exists). Requires editor or admin role.
      responses:
        '200':
          description: Entry restored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PromptEntry'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/entries/{entryId}/permanent-delete:
    parameters:
      - name: entryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      tags: [Entries]
      summary: Permanently delete a trashed entry
      description: |
        Irrevocably deletes the entry and all its versions.
        The entry must be in the trash. **Admin only.**
      responses:
        '204':
          description: Entry permanently deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Entry is not in trash.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/entries/trash:
    get:
      tags: [Entries]
      summary: List trashed entries
      responses:
        '200':
          description: List of trashed entry summaries.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PromptEntrySummary'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Tools ────────────────────────────────────

  /api/tools:
    get:
      tags: [Tools]
      summary: List tool descriptions (paginated)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        '200':
          description: Paginated tool descriptions.
          content:
            application/json:
              schema:
                type: object
                required: [items, total, page, pageSize]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ToolDescription'
                  total:
                    type: integer
                  page:
                    type: integer
                  pageSize:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Tools]
      summary: Create a tool description
      description: Requires editor or admin role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateToolRequest'
      responses:
        '201':
          description: Tool created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolDescription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'

  /api/tools/{toolId}:
    parameters:
      - name: toolId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    patch:
      tags: [Tools]
      summary: Update a tool description
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateToolRequest'
      responses:
        '200':
          description: Tool updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolDescription'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Tools]
      summary: Delete a tool description
      responses:
        '204':
          description: Tool deleted.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/tools/import-mcp:
    post:
      tags: [Tools]
      summary: Import tool descriptions from an MCP server
      description: |
        Connects to the specified MCP server, analyzes its available tools,
        and generates tool descriptions automatically. This is a one-time import.
        Requires editor or admin role.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/McpImportRequest'
      responses:
        '200':
          description: Tools imported.
          content:
            application/json:
              schema:
                type: object
                required: [imported, skippedCount]
                properties:
                  imported:
                    type: array
                    items:
                      $ref: '#/components/schemas/ToolDescription'
                  skippedCount:
                    type: integer
                    description: Number of tools skipped (already exist).
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '502':
          description: Failed to connect to MCP server or parse tools.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ── API Keys ─────────────────────────────────

  /api/api-keys:
    get:
      tags: [API Keys]
      summary: List all API keys
      description: Returns keys with masked values (prefix only). **Admin only.**
      responses:
        '200':
          description: List of API keys.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

    post:
      tags: [API Keys]
      summary: Create a new API key
      description: |
        Generates a new API key. The full key is returned **only in this response** and cannot be retrieved again.
        **Admin only.**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created (full key returned once).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKeyCreated'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /api/api-keys/{keyId}:
    parameters:
      - name: keyId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      tags: [API Keys]
      summary: Revoke (delete) an API key
      description: Immediately invalidates the key. **Admin only.**
      responses:
        '204':
          description: Key revoked.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  # ── Users ────────────────────────────────────

  /api/users:
    get:
      tags: [Users]
      summary: List users in the tenant (paginated)
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
      responses:
        '200':
          description: Paginated user list.
          content:
            application/json:
              schema:
                type: object
                required: [items, total, page, pageSize]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  total:
                    type: integer
                  page:
                    type: integer
                  pageSize:
                    type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Users]
      summary: Invite a new user
      description: |
        Sends an invitation email. The user must register using the invited email.
        **Admin only.**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InviteUserRequest'
      responses:
        '201':
          description: User invited.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          description: Email already belongs to a user in this tenant.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/users/{userId}/role:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    patch:
      tags: [Users]
      summary: Change a user's role
      description: |
        Updates the role of the specified user. The admin cannot change their own role.
        **Admin only.**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserRoleRequest'
      responses:
        '200':
          description: Role updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/users/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    delete:
      tags: [Users]
      summary: Remove a user from the tenant
      description: |
        Removes the user's access. The admin cannot remove themselves.
        **Admin only.**
      responses:
        '204':
          description: User removed.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /api/users/transfer-ownership:
    post:
      tags: [Users]
      summary: Transfer account ownership to another user
      description: |
        Transfers the admin role to the specified user. The current admin becomes an editor.
        Requires typing "TRANSFER" as confirmation. **Admin only.**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransferOwnershipRequest'
      responses:
        '200':
          description: Ownership transferred.
          content:
            application/json:
              schema:
                type: object
                properties:
                  newAdmin:
                    $ref: '#/components/schemas/User'
                  previousAdmin:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Confirmation string does not match.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ── Audit Log ────────────────────────────────

  /api/audit-log:
    get:
      tags: [Audit Log]
      summary: Get paginated audit log
      description: Returns audit log entries within the 30-day retention window.
      parameters:
        - name: page
          in: query
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: pageSize
          in: query
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Paginated audit log.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedAuditLog'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ── Import / Export ──────────────────────────

  /api/export:
    post:
      tags: [Import/Export]
      summary: Export prompt entries as YAML
      description: |
        Exports published versions of prompt entries as a YAML file.
        Can export all entries, specific folders (with subtree), or specific entries.
        Tool descriptions are NOT included.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportRequest'
      responses:
        '200':
          description: YAML export file.
          content:
            application/x-yaml:
              schema:
                type: string
                format: binary
          headers:
            Content-Disposition:
              schema:
                type: string
                example: 'attachment; filename="clarive-export-2026-02-18.yaml"'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/import:
    post:
      tags: [Import/Export]
      summary: Import prompt entries from YAML
      description: |
        Imports entries from a YAML file. All imported entries arrive as drafts.
        Folder structure from the export is recreated.
        Requires editor or admin role.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: YAML file (.yaml or .yml)
      responses:
        '200':
          description: Import successful.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          description: Invalid YAML format or structure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ── AI Generation ────────────────────────────

  /api/ai/generate:
    post:
      tags: [AI Generation]
      summary: Generate a new prompt using AI
      description: |
        Starts an AI generation session. Returns an initial draft along with
        3 clarification questions and 3 suggested enhancements.
        The returned sessionId is used for subsequent refine calls.
        Rate-limited to prevent abuse (shared "auth" policy).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GeneratePromptRequest'
      responses:
        '200':
          description: Initial draft with questions and enhancements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratePromptResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Description is empty or exceeds 2000 characters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
        '503':
          description: AI features not configured (missing API key).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/ai/refine:
    post:
      tags: [AI Generation]
      summary: Refine a generated prompt
      description: |
        Sends answers to clarification questions and/or selected enhancements.
        Returns an updated draft with new questions and enhancements.
        Can be called repeatedly (no iteration limit). Rate-limited.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefinePromptRequest'
      responses:
        '200':
          description: Refined draft with new questions and enhancements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratePromptResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          description: Session not found or expired.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Answer exceeds 1000 characters.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
        '503':
          description: AI features not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/ai/enhance:
    post:
      tags: [AI Generation]
      summary: Enhance an existing prompt entry
      description: |
        Starts an AI enhancement session using an existing entry as the starting point.
        Works like generate but skips the description step — starts directly with
        questions and enhancements based on the existing content.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [entryId]
              properties:
                entryId:
                  type: string
                  format: uuid
      responses:
        '200':
          description: Enhancement session started.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeneratePromptResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          description: Rate limit exceeded.
        '503':
          description: AI features not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/ai/generate-system-message:
    post:
      tags: [AI Generation]
      summary: Generate a system message for an entry
      description: |
        Generates a system message based on the existing prompt content.
        Only works if the entry does not already have a system message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateSystemMessageRequest'
      responses:
        '200':
          description: Generated system message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateSystemMessageResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Entry already has a system message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
        '503':
          description: AI features not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/ai/decompose:
    post:
      tags: [AI Generation]
      summary: Decompose a single prompt into a chain
      description: |
        Automatically splits a single prompt into a multi-step prompt chain.
        Only works if the entry has exactly one prompt.
        Returns the new set of prompts (3-5 steps).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DecomposeRequest'
      responses:
        '200':
          description: Decomposed prompt chain.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecomposeResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Entry does not have exactly one prompt (zero or multiple prompts).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: Rate limit exceeded.
        '503':
          description: AI features not configured.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ══════════════════════════════════════════════
  # Public API (External Consumers)
  # ══════════════════════════════════════════════

  /public/v1/entries/{entryId}:
    parameters:
      - name: entryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    get:
      tags: [Public API]
      summary: Get the published version of a prompt entry
      description: |
        Returns the published version of a prompt entry as a JSON object.
        If the entry has no published version, returns 404.
        Template fields (if any) are included as metadata.
        Authenticated via API key (`X-Api-Key` header).
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Published prompt entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicPromptEntry'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entry not found or has no published version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: NOT_PUBLISHED
                  message: This entry has no published version.

  /public/v1/entries/{entryId}/generate:
    parameters:
      - name: entryId
        in: path
        required: true
        schema:
          type: string
          format: uuid
    post:
      tags: [Public API]
      summary: Generate a rendered prompt with template values
      description: |
        Accepts values for all template fields, validates them server-side against
        declared types and constraints, and returns the fully rendered prompt(s)
        with all template tags substituted.

        Only works on published entries that contain template fields.
        Authenticated via API key (`X-Api-Key` header).
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublicGenerateRequest'
      responses:
        '200':
          description: Rendered prompt with all template tags substituted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicGenerateResponse'
        '401':
          description: Missing or invalid API key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Entry not found or has no published version.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '422':
          description: Template field validation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: VALIDATION_ERROR
                  message: Template field validation failed.
                  details:
                    wordCount: "Value must be an integer."
                    tone: "Must be one of: formal, casual, technical."
